
body
	{
	width: 960px;
	padding-top: 1.0em;
	margin: 0 auto;
	font-family: 'Arial','Helvetica Neue', Helvetica, sans-serif;
	}

	.crystal-class
	{
		height:79px;
	 	width: 100px;	
	}
	.cr-target-no
	{
		font-size: 400%;
	}

	
	.cr-player-collection
	{
		font-size: 300%;
	}

.tg-games-info
{
  text-align: center;
	float: left;
	display: inline-block;
	width: 30%;
	padding: 4px;
	margin: 4px;
	border: 3px solid #4aaaa5;
  background-color: #4aaaa5;
	
}

  
.after-box 
   {
	margin-top:10px;	
	clear: both;
	}

.heading
{
  text-align: center;
	padding: 4px;
	margin: 4px;
	border: 4px;
  text-shadow: 3px 2px red;
  font-size: 200%;
  background-color: grey;

}	
.games_players_info
{
  text-align: center;
	float: left;
	display: inline-block;
	width: 30%;
	padding: 4px;
	margin: 4px;
	border: 3px solid #4aaaa5;
  background-color: #4aaaa5
}
#no-of-players
{
}
#no-of-turns
{
	
}
#no-of-guesses
{
	
}

#word-in-play
{
  text-align: center;
	padding: 4px;
	margin: 4px;
	border: 4px;
  font-size: 200%;
	
}
.player-data
{
	float: left;
	display: inline-block;
	width: 22%;
	padding: 4px;
	margin: 4px;
	border: 4px;
}
.player-wins
{
	
}
.player-name
{
	color: red;
}	
.hide-player
{
	display: none;
}
#play-area
{
	
}
#player1
{
	
}
#player2
{
	
}
#player3
{
	
}
#player4
{
	
}
.current-player
{
	background-color: blue;
}
.tile
{
  float: left;
  display; inline-block;
}

.hide-tile
{
	display: none;
}